@{
    ViewData["Title"] = "User Menu";
}

<h2>User Menu</h2>

<ul>
    <li><a asp-controller="Note" asp-action="AddNote">Add Note</a></li>
    <li><a asp-controller="Note" asp-action="ListNotes">List Notes</a></li>
    <li><a asp-controller="User" asp-action="UpdateUser">Update User Information</a></li>
</ul>
