@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to NoteApp!</p>
    <a class="btn btn-primary" href="/User/Login">Login</a>
    <a class="btn btn-secondary" href="/User/Signup">Signup</a>
</div>
